/*utilisation de flex pour les conteneurs */
.aboutContainer,
.wrapperBanner {
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}
/*ajustement des conteneurs*/
.aboutContainer {
  margin-top: 3.085rem;
  padding-bottom: 8rem;
  width: 100%;
  justify-content: space-between;
}

.wrapperBanner {
  width: 86%;
  justify-content: center;
  align-items: center;
}
/*conteneur englobant les collapse*/
.aboutCollapseContainer {
  width: 72%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 31px;
  margin: auto;
  margin-top: 2.063rem;
  padding: 0 0 2.875rem 0;
}

.aboutCollapseContainer .collapseContainer {
  padding: 2.25rem 1.6875rem 1.1875rem 1.125rem;
}
.aboutCollapseContainer .collapseContainer .collapseOn {
  border-radius: 50px;
}

/*Ajustement du style des boutons des collapse pour cette page*/
.aboutCollapseContainer button {
  height: 47px;
  position: relative;
  font-size: 1.5rem;
  border-radius: 5px;
}

.aboutCollapseContainer p {
  font-size: 1.5rem;
}
/*version mobile de la page "A propos"*/
@media all and (max-width: 767px) {
  .aboutContainer {
    width: 86%;
    margin-bottom: 10rem;
  }
  .wrapperBanner {
    width: 100%;
  }

  .aboutCollapseContainer {
    margin-top: 20px;
    width: 100%;
    border-radius: 5px;
    gap: 20px;
  }
  .aboutCollapseContainer .collapseContainer {
    margin-top: 0;
    padding: 1.4375rem 0.432rem 3.28625rem 0.719rem;
  }

  .aboutCollapseContainer button {
    height: 30px;
    font-size: 0.8125rem;
    border-radius: 5px;
  }

  .aboutCollapseContainer p {
    font-size: 0.75rem;
  }
}
