.accommodationContainer {
  width: 86%;
  height: auto;
  margin: auto;
}
/*utilisation de flexbox pour les conteneurs 
en vue des versions tablette et mobile*/
.containerTitlesLocationHostRating,
.accommodationTitlesContainer,
.accommodationLocation {
  display: flex;
}

.containerTitlesLocationHostRating {
  justify-content: space-between;
  padding-top: 8rem;
}
/*conteneur du titre du logement*/
.accommodationTitlesContainer {
  align-items: flex-start;
  flex-direction: column;
}

.accommodationTitle {
  width: 100%;
  font-weight: 500;
  font-size: 2.25rem;
  color: #ff6060;
}

.accommodationLocation {
  font-weight: 500;
  font-size: 1.125rem;
  align-items: flex-end;
  color: #ff6060;
}
/*conteneur du bouton et du contenu du collapse*/
.accommodationCollapseWrapper {
  margin-top: 1.5em;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  gap: 4.75em;
}
/*ajustement du style des boutons des collapse pour cette page*/
.accommodationCollapseWrapper button {
  position: relative;
  top: 10px;
  font-size: 1rem;
  border-radius: 10px;
}

.accommodationCollapseContainer {
  width: 100%;
  height: 100%;
  font-weight: 400;
  background: #f7f7f7;
  color: #ff6060;
  border-radius: 10px;
}

.accommodationCollapseContainer,
.accommodationCollapseText {
  font-size: 1.125rem;
  border-radius: 10px;
}

.accommodationCollapseTextContainer {
  width: 100%;
  height: 100%;
}

.accommodationCollapseText {
  padding: 2.5rem 0.75rem 3.3125rem 1.25rem;
  width: auto;
  height: 100%;
  text-align: left;
}
/*version tablette*/
@media all and (max-width: 1023px) {
  .containerTitlesLocationHostRating {
    flex-direction: column;
  }
  /*inversion de l'emplacement des étoiles et du propriétaire*/
  .wrapperHostRating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-top: 1.5em;
  }
  .accommodationCollapseWrapper {
    flex-direction: column;
  }
}
/*version mobile*/
@media all and (max-width: 767px) {
  .wrapperHostRating {
    padding: 0;
  }
  .containerTitlesLocationHostRating {
    padding-top: 15px;
  }

  .accommodationTitle {
    font-weight: 500;
    font-size: 1.125em;
    line-height: 142.6%;
  }
  .accommodationLocation {
    padding: 5px 0 10px 0;
    font-size: 0.875rem;
  }

  .accommodationCollapseWrapper {
    margin-top: 0;
    gap: 1.25rem;
  }
  .collapseContainer {
    margin: 20px 0 0 0;
  }
  .accommodationCollapseWrapper button {
    height: 30px;
    border-radius: 5px;
  }
  .accommodationCollapseWrapper button,
  .accommodationCollapseText {
    font-size: 1.125rem;
  }
  .accommodationCollapseWrapper button {
    font-size: 0.825rem;
  }
  .accommodationCollapseText {
    font-size: 0.75rem;
  }
  .accommodationCollapseWrapper li {
    font-size: 0.75rem;
  }
}
