/*style des conteneurs */
.container,
.homeBannerImg,
.aboutBannerImg,
.homeBannerBackground,
.aboutBannerBackground {
  border-radius: 25px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f7f7f7;
}

.homeBannerContainer,
.AboutBannerContainer,
.homeBannerImg,
.aboutBannerImg,
.homeBannerBackground,
.aboutBannerBackground {
  height: 13.938em;
}

.homeBannerContainer,
.aboutBannerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.homeBannerImg,
.aboutBannerImg {
  display: block;
  width: 100%;
  object-fit: cover;
}
/* background qui permet de l'assombrir l'image*/
.homeBannerBackground,
.aboutBannerBackground {
  position: absolute;
  width: 86%;
  height: 13.938em;
  background: #000000;
  mix-blend-mode: darken;
  opacity: 0.3;
}

.bannerTitle {
  width: auto;
  position: absolute;
  margin: 0;
  text-align: center;
  font-weight: 500;
  font-size: 3em;
  line-height: 142.6%;
  color: #ffffff;
}
/*version tablette*/
@media all and (max-width: 768px) {
  .container,
  .homeBannerContainer,
  .homeBannerImg,
  .homeBannerBackground {
    border-radius: 15px;
  }
  .homeBannerContainer,
  .homeBannerImg {
    width: 100%;
  }

  .homeBannerContainer,
  .homeBannerImg,
  .homeBannerBackground {
    height: 10em;
  }

  .homeBannerBackground {
    width: 95%;
  }

  .bannerTitle {
    width: 90%;
    font-size: 2em;
  }
}
/*version mobile*/
@media all and (max-width: 375px) {
  .homeBannerContainer,
  .homeBannerImg {
    width: 100%;
  }

  .homeBannerContainer,
  .homeBannerImg,
  .homeBannerBackground {
    height: 6.938em;
    border-radius: 10px;
  }
  .homeBannerBackground {
    width: 90%;
  }

  .bannerTitle {
    text-align: left;
    padding: 1.938em 5em 2em 1em;
    font-size: 1.5em;
  }

  .aboutBannerContainer,
  .aboutBannerImg {
    width: 100%;
  }

  .aboutBannerContainer,
  .aboutBannerImg,
  .aboutBannerBackground {
    height: 13.938em;
    border-radius: 10px;
  }
  .aboutBannerBackground {
    width: 86%;
  }
}
