/*mise en ligne des images 
avec un retour en cas de dépassement*/
.galleryContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  margin: 43px 0 43px 0;
  background: #f7f7f7;
  border-radius: 25px;
}
.cardsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  margin: 56px 50px 56px 50px;
  background: #f7f7f7;
  border-radius: 25px;
  gap: 50px;
}
/*conteneur des cards*/
.cards {
  width: 23.61vw;
  height: 23.61vw;
  background-color: green;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  border-radius: 10px;
  object-fit: cover;
  background: #ff6060;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.cardsImg {
  position: relative;
  width: 23.61vw;
  height: 23.61vw;

  border-radius: 10px;
}

.cardTitle {
  position: absolute;
  width: 300px;
  height: 52px;
  font-weight: 500;
  font-size: 1.125rem;
  left: 0;
  bottom: 0.5%;

  margin: 20px;
  color: #ffffff;
}

.cards:hover {
  transition-duration: 1s;
  box-shadow: 10px 10px 10px #ff6060;
  transform: scale(1.05);
}

/*version desktop - ajustement pour plus petits écrans*/
@media all and (min-width: 1024px) and (max-width: 1440px) {
  .cardsContainer {
    gap: 20px;
  }

  .cards,
  .cardsImg {
    position: relative;
    min-width: 340px;
    min-height: 340px;
    border-radius: 10px;
  }
  .cardTitle {
    bottom: 0.1%;
    padding: 0 0 10px 10px;
  }
}

/*version tablettes*/
@media all and (max-width: 1023px) {
  .cardsContainer {
    gap: 20px;
  }
  .cards,
  .cardsImg {
    position: relative;
    min-width: 340px;
    min-height: 340px;
    border-radius: 10px;
  }

  .cardTitle {
    font-size: 1.25rem;
    left: 0;
    bottom: 0.5%;
    width: 300px;
    margin: 0 0 10px 10px;
    padding: 0 0 10px 10px;
  }
}
/*versions mobile*/
@media all and (max-width: 576px) {
  /*mise en colonne des photos*/
  .galleryContainer {
    flex-direction: column;
    align-content: center;
    background-color: #ffffff;
    padding-top: 1.375rem;
    margin: auto;
  }

  .cardsContainer {
    flex-direction: column;
    align-content: center;
    background-color: #ffffff;
    margin: 0;
  }
  .cardsContainer {
    gap: 20px;
  }
  .cardsContainer {
    margin-top: 0;
  }

  .cards,
  .card,
  .cardsImg {
    width: 100%;
    min-width: 200px;
    min-height: 255px;
    margin: 0;
  }

  .cardTitle {
    font-size: 1.125rem;
    width: auto;
    max-width: 250px;
    bottom: 0.2%;
    margin: 0 0 10px 10px;
    padding: 0 0 10px 10px;
  }
}
@media all and (max-width: 480px) {
  .cardTitle {
    width: auto;
  }
}
@media all and (max-width: 375px) {
  .cardTitle {
    margin: 0 0 5px 5px;
    padding: 0 0 5px 5px;
    bottom: 3%;
    font-size: 0.9rem;
  }
}
