.wrapperCollapse {
  width: 100%;
  background: transparent;
}

/*boutons sans le texte */
.collapseButton {
  display: block;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 47px;
  padding: 0.813em 1em 0.813em 0.8em;
  background: #ff6060;
  color: #ffffff;
}

.collapseButton:hover {
  cursor: pointer;
}
.collapseHeight {
  height: 80%;
}

.buttonArrow {
  position: relative;
  left: 16.06px;
  padding: 1.054em 1.004em 1.054em 0;
}
/*version tablettes*/
@media all and (max-width: 768px) {
  .collapseHeight {
    height: 100%;
  }
}
/*version mobile*/
@media all and (max-width: 375px) {
  .wrapperCollapse {
    margin: 0;
    padding-top: 0;
    width: 100%;
  }

  .collapseContainer {
    margin: 1.25em 0 0 0;
  }

  .collapseButton {
    height: 1.875em;
    padding: 5px 11px 5px;
    font-size: 0.813em;
  }
  .buttonArrow {
    width: 10%;
  }

  .collapseText {
    padding: 2.25em 1.688em 1.188em 1.125em;
    width: auto;
    font-size: 0.75em;
  }
}
