.wrapperCollapse {
  width: 100%;
  background: transparent;
}

/*boutons sans le texte */
.collapseButton {
  display: block;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 47px;
  padding: 0.813rem 1rem 0.813rem 0.8rem;
  background: #ff6060;
  color: #ffffff;
}

.collapseButton:hover {
  cursor: pointer;
}
/*première position du collapse fermé*/
.collapseOff {
  height: auto;
  max-height: 0;
  overflow: hidden;
  transition: all ease 0.5s;
}
/*déploiement du collapse*/
.collapseOn {
  overflow: hidden;
  max-height: 400px;
  background: #f7f7f7;
  transition: all ease 0.8s;
  border-radius: 0 0 5px 5px;
}

.collapseContainer {
  width: 100%;
  height: 100%;
  font-weight: 400;
  background: #f7f7f7;
  color: #ff6060;
}
.buttonArrow {
  position: relative;
  left: 16.06px;
  padding: 1.054rem 1.004rem 1.054rem 0;
}
/*version tablettes*/
@media all and (min-width: 768px) and (max-width: 1023px) {
  .collapseHeight {
    height: 100%;
  }
  .collapseButton {
    height: 2rem;
    padding: 5px 11px 5px;
    font-size: 1rem;
  }
}
/*version mobile*/
@media all and (max-width: 767px) {
  .wrapperCollapse {
    margin: 0;
    padding-top: 0;
    width: 100%;
  }

  .collapseContainer {
    margin: 1.25rem 0 0 0;
  }

  .collapseButton {
    height: 1.875rem;
    padding: 5px 11px 5px;
    font-size: 0.813rem;
  }

  .collapseText {
    padding: 2.25rem 1.688rem 1.188rem 1.125rem;
    width: auto;
    font-size: 0.75rem;
  }
  .buttonArrow {
    max-width: 2rem;
  }
}
