.footerContainer {
  width: auto;
  height: 209px;
  font-weight: 500;
  font-size: 24px;
  line-height: 142.6%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  background: #000000;
  color: #ffffff;
}

p {
  width: 35.6%;
  height: 46px;
  margin: 31px 0 29px 0;
  font-size: 24px;
  line-height: 142.6%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

@media all and (max-width: 375px) {
  .logo {
    width: 40%;
  }
  p {
    width: auto;
    height: auto;

    font-size: 12px;
    line-height: 142.6%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
}
