.footerContainer {
  width: auto;
  height: 209px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background: #000000;
  color: #ffffff;
}

.copyright {
  width: 50%;
  height: 46px;
  margin: 31px 0 29px 0;
  font-weight: 500;
  font-size: 1.5em;
  line-height: 142.6%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

@media all and (max-width: 768px) {
  .copyright {
    width: auto;
    height: auto;
    font-size: 1em;
  }
}

@media all and (max-width: 375px) {
  .logoFooter {
    width: 40%;
  }
  .copyright {
    font-size: 0.75em;
  }
}
