.headerContainer {
  margin: auto;
  margin-top: 2.5em;
  margin-bottom: 3.938em;
  padding: 40px 0 40px;
  width: 86%;
  height: 68px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigationContainer {
  width: 25%;
  min-width: 19.313em;
  height: 34px;
}

.navigationList {
  width: 100%;
  display: flex;
  gap: 3.563em;
}

.listElements {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 34px;
  list-style: none;
  text-align: right;
}

.listElements a {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5em;
  line-height: 142.6%;
  color: #ff6060;
}

.listElements a:hover {
  text-decoration-line: underline;
}

@media all and (max-width: 768px) {
  .logoHeader {
    width: 30%;
  }
  .navigationContainer {
    min-width: 50%;
  }
  .navigationList {
    gap: 1.5em;
  }

  .listElements a {
    text-transform: uppercase;
    font-size: 0.8em;
  }
}

@media all and (max-width: 375px) {
  .logoHeader {
    width: 40%;
    height: 2.938em;
  }

  .navigationList {
    gap: 0.625em;
  }

  .listElements a {
    font-size: 0.75em;
  }
}
