.header{

    position: absolute;
    width: 1240px;
    height: 68px;
    left: 100px;
    top: 40px;

};

.logo{
position: absolute;
width: 210.32px;
height: 68px;
left: 100px;
top: 40px;
}

.navigation{
height: 34px;
width: 309px;
left: 931px;
top: 17px;
position: absolute;
left: 75.08%;
right: 0%;
top: 25%;
bottom: 25%;
}

.aboutNavigation {

    position: absolute;
    width: 116px;
    height: 34px;
    left: 1224px;
    top: 57px;

  
    font-weight: 500;
    font-size: 24px;
    line-height: 142.6%;
    /* or 34px */
    display: inline;
	list-style: none;
    display: flex;
    align-items: flex-end;
    text-align: right;
    text-decoration-line: underline;
    color: #FF6060;
}

.HomeNavigation {

    position: absolute;
    width: 136px;
    height: 34px;
    left: 1031px;
    top: 57px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 142.6%;
    /* or 34px */
    display: inline;
	list-style: none;
    display: flex;
    align-items: flex-end;
    text-align: right;
    color: #FF6060;
 
}