.bodyContainer {
  margin: auto;
  width: 86%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media all and (max-width: 768px) {
  .bodyContainer {
    width: 95%;
  }
}

@media all and (max-width: 375px) {
  .bodyContainer {
    width: 90%;
  }
}
