/*conteneur des éléments de la page sauf le header et le footer*/
.bodyContainer {
  margin: auto;
  margin-top: 4.273em;
  width: 86%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*version tablettes*/
@media all and (max-width: 768px) {
  .bodyContainer {
    width: 95%;
  }
}
/*version mobiles*/
@media all and (max-width: 375px) {
  .bodyContainer {
    width: 90%;
  }
}
