/*contient le nom et l'image du prorpriétaire*/
.hostContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.625em;
}
/*ajustement du nom du propriétaire accolé à l'image*/
.hostName {
  width: min-content;
  font-size: 1.125em;
  text-align: right;
  color: #ff6060;
}
/*image en forme de pastille*/
.hostImage {
  width: 4em;
  height: 4em;
  border-radius: 50%;
}
/*version mobile*/
@media all and (max-width: 576px) {
  .hostName {
    font-size: 0.75rem;
  }
  .hostImage {
    width: 32px;
    height: 32px;
  }
}
