.pageErrorContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  align-items: center;
  color: #ff6060;
}

.titlePageError {
  display: flex;
  align-items: center;
  width: auto;
  height: 263px;
  margin-top: 174.37px;
  text-align: center;
  text-align: center;
  font-weight: 700;
  font-size: 18em;
}

.subtitlePageError {
  width: auto;
  text-align: center;
  margin: 66px 0 182px 0;
  font-weight: 500;
  font-size: 2.25em;
}

.linkToHome {
  font-weight: 500;
  font-size: 1.125em;
  color: #ff6060;
  padding-bottom: 5em;
}

.linkToHome:hover {
  text-decoration-line: underline;
}

@media all and (max-width: 768px) {
  .titlePageError {
    font-size: 10em;
  }

  .subtitlePageError {
    width: auto;
    font-size: 2em;
  }

  .linkToHome {
    width: auto;
    font-size: 1em;
  }
}

@media all and (max-width: 375px) {
  .headerContainer {
    margin: auto;
    margin: 1.25em;
  }

  .titlePageError {
    font-size: 6em;
    width: 52.8%;
    height: 12.2%;
    padding-top: 1.529em;
  }
  .subtitlePageError {
    width: 100%;
    padding: 0.688em 3.625em 8.313em 3.563em;
    font-size: 1.125em;
  }

  .linkToHome {
    font-size: 0.875em;
    padding-bottom: 14.688em;
  }
}
