/*conteneur pour centrer les éléments du slider notamment les numéros de page*/
.slideContainer {
  margin: auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*conteneur pour les images*/
.slideShowContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}
/*ajustement des images*/
.slideShowImg {
  display: block;
  object-fit: cover;
  overflow: hidden;
}

.slideShowContainer,
.slideShowImg {
  position: relative;
  width: 100%;
  height: 415px;
  border-radius: 25px;
}
/*positionnement des flêches-bouton et des numéros de pages*/
.arrowContainer,
.slidePageNumber {
  position: absolute;
}

.arrowContainer {
  display: flex;
  justify-content: space-between;
  width: 84%;
  top: 300px;
}
/*numéros des pages*/
.slidePageNumber {
  display: flex;
  align-items: flex-end;
  text-align: center;
  bottom: 24px;
  font-size: 1em;
  font-weight: 500;
  color: #ffffff;
}
/*flêches-bouton pour le slider*/
.previousArrow,
.nextArrow {
  display: block;
  border: none;
  background: none;
}

.previousArrow:hover,
.nextArrow:hover {
  cursor: pointer;
}
/*version tablette*/
@media all and (max-width: 768px) {
  .arrowLeft,
  .arrowRight {
    max-width: 3em;
    max-height: 4em;
  }

  .slideShowContainer,
  .slideShowImg {
    height: 20em;
    border-radius: 10px;
  }
  .arrowContainer {
    top: 300px;
  }
}
/*version mobile*/
@media all and (max-width: 375px) {
  .slideShowContainer,
  .slideShowImg {
    height: 15.938em;
    border-radius: 10px;
  }
  .arrowContainer {
    top: 250px;
  }
  .arrowLeft,
  .arrowRight {
    max-width: 0.75em;
    max-height: 1.238em;
  }
  /*supression des numéros des pages*/
  .slidePageNumber {
    opacity: 0;
  }
}
