/*mise en ligne des tagName de la page "logements"*/
.tagNameContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding-top: 1.438rem;
  gap: 0.625rem;
}
/*style des TagName contenant un seul mot*/
.tagName {
  display: inline-block;
  max-width: 400px;
  min-width: 115px;
  height: 1.563em;
  font-size: 0.875rem;
  text-align: center;
  padding: 0.188rem 1.375rem 0.188rem 1.375rem;
  color: #ffffff;
  background: #ff6060;
  border-radius: 10px;
}
/*version mobile*/
@media all and (max-width: 767px) {
  .tagNameContainer {
    padding: 0;
  }
  .tagName {
    width: auto;
    padding: 0 20px 0 20px;
    border-radius: 5px;
    font-size: 0.625rem;
  }
}
